.bottombar {
    padding: 12px 18px;
}

.bottombar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottombar__icon {
    width: 22px;
    height: 22px;
}

.bottombar-item {
    padding: 5px 5px;
}

.bottombar-item:hover {
    background-color: #f5f5f5;
    border-radius: 9999px;
}