.mainlayout {
  position: relative;
  max-width: 1265px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: min-content auto min-content;
}

.bodylayout {
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  height: 100vh;
}
/* 
.sidebar {
}

.rightbar {
} */

.bottombar {
  display: none;
}

.topnavbar--hide {
  display: none;
}

.topnavbar {
  display: none;
}

.bottomsheet {
  display: none;
}

@media screen and (max-width: 1258px) {
  .mainlayout {
    max-width: 1078px;
  }
}

@media screen and (max-width: 1094px) {
  .mainlayout {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1020px) {
  .mainlayout {
    max-width: 990px;
  }

  .rightbar {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .mainlayout {
    margin: 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .mainlayout {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .topnavbar {
    display: block;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    top: 0;
    transition-timing-function: ease-in;
    transition: all 0.2s;
  }

  .topnavbar--hide {
    display: none;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    top: 0;
    transition-timing-function: ease-in;
    transition: all 0.2s;
  }

  .sidebar {
    display: none;
  }
  .bodylayout {
    width: auto;
    border: none;
    margin-top: 3.7rem;
    margin-bottom: 4.5rem;
  }

  .bottombar {
    position: fixed;
    background-color: #ffffff;
    display: inline-block;
    border-top: 1px solid #e5e5e5;
    width: 100%;
    bottom: 0;
  }

  .bottomsheet {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
}
