.topnavbar__body {
  padding: 8px 18px;
}

.topnav__img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
}

.bottomsheet__body {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.8s
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
