.homepage__container {
  padding: 15px 15px;
}

.search__form {
    background-color: #f5f5f5;
    border-radius: 9999px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: .2rem;

  }

  .search__input {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: inherit;
    width: 100%;
    font-weight: 300;
  }

  .search__icon {
    width: 25px;
    height: 25px;
    fill: #999;
  }

  
  .homepage__advert {
    padding: 10px 0;
    display: flex;
    gap: .5rem;
    overflow-x: scroll;
    width: 100%;
  }

  .homepage__advert img {
    width: 100%;
  }


@media screen and (max-width: 500px) {
.homepage__container {
    padding: 0px 15px;
  }

  .search__form {
    display: none;
  }
  

  .homepage__advert {
    padding-top: 0;
  }

}